In [1]:
import glob
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
# from matplotlib.pyplot import savefig

In [2]:
local_path = r'C:\Users\kprajapati\Downloads\Dataset'

In [7]:
'''
Run this code in your free time, to verif if all the data we have collected is valid data, you will have to run the code , take a big nap and comeback
to manuualy verify , if any anomaly exist, by that i men , if plot of any csv doesnot follow its peers pattern
'''
df = None
nw_df = None
rows = []
d = None
dates = os.listdir(os.path.join(local_path))
for date in dates:
    if os.path.isdir(os.path.join(local_path, date)):
        participants = os.listdir(os.path.join(local_path, date))
        for participant in participants:
            if os.path.isdir(os.path.join(local_path, date, participant)):
                gestures = os.listdir((os.path.join(local_path, date, participant)))
                for gesture in gestures:
                    if os.path.isdir(os.path.join(local_path, date, participant, gesture)):
                        # building pattern for glob to catch the csv file name, its like regex
                        pathname = local_path+'\\'+date+'\\'+participant+ '\\'+gesture+'\\'+'*.csv'
                        csvs = glob.glob(pathname, recursive=True)
                        # print(len(csvs))
                        for i,csv in enumerate(csvs):

                            # reading the csv
                            df = pd.read_csv(csv, header=0, skip_blank_lines=True)

                            # dropping first row as it shows unit
                            df.drop([df.index[0]], inplace=True)

                            # df = df[3000:8000]
                            # converting everything from string to float
                            df = df.applymap(lambda x : float(x))

                            # compute features
                            df['EWM_mean'] = df.iloc[:,1].ewm(span=200,adjust=True).mean()
                            

                            nw_df = df.T
                            d = nw_df.iloc[2, :].to_dict()
                            d['label'] = gesture
                            rows.append(d)

In [8]:
nw_df.head()

,1,2,3,4,5,6,7,8,9,10,...,14997,14998,14999,15000,15001,15002,15003,15004,15005,15006
Time,0.00000,0.000333,0.000667,0.001000,0.001333,0.001666,0.002000,0.002333,0.002666,0.003000,...,4.998107,4.998440,4.998773,4.999107,4.999440,4.999773,5.000106,5.000440,5.000773,5.001106
Channel A,82.50678,88.076420,87.466040,88.137450,78.341010,79.363380,87.969600,76.860860,69.765310,64.012570,...,39.780880,41.093170,42.558060,41.169460,46.357610,48.203980,58.061460,76.326790,75.151820,77.120270
EWM_mean,82.50678,85.305524,86.032910,86.566963,84.888705,83.944643,84.537029,83.543591,81.950723,80.075115,...,81.537635,81.135202,80.751350,80.357500,80.019193,79.702624,79.487289,79.455841,79.413015,79.390201

In [12]:
df.head()

       Time  Channel A   EWM_mean
1  0.000000   82.50678  82.506780
2  0.000333   88.07642  85.305524
3  0.000667   87.46604  86.032910
4  0.001000   88.13745  86.566963
5  0.001333   78.34101  84.888705

In [9]:
reqd_df = pd.DataFrame(rows)

In [13]:
reqd_df['label'] = reqd_df['label'].apply(lambda x:x.lower())

In [14]:
reqd_df.to_csv('full_dataset.csv', index=False)

In [15]:
reqd_df.shape

(1499, 15007)